# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Maria\projects\mariiabel codebase based on best match to current usage at 16.09.2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

root = true

[*]
charset = utf-8

indent_size = 4
indent_style = space
end_of_line = ls
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
